<div class="left_column">

    <div class="search_wrap">

        <div class="search">
            <img src="styles/images/logo.png" class="logo">

            <form validate class="parameters">
                <p class="parameters_title">Search tweets</p>
                <input id="query_text" class="text_box" type="text" ng-model="parameters.q" value="" placeholder="Search @user, #hashtag or Keyword"/>
                <p class="parameters_title">Location</p>
                <input id="loc_text" class="text_box" type="text" ng-keyup="autosuggest()" ng-model="parameters.loc" value="" placeholder="Boston, MA"/>


                <span class="show_hide_search" ng-hide="show_advanced_search" ng-click="toggle_advanced_search()">Advanced Search</span>

                <p class="parameters_title" ng-show="show_advanced_search">Results Type</p>
                <div id="advanced_search" ng-show="show_advanced_search">
                    <select class="selection" ng-model="parameters.result_type" ng-init="parameters.result_type = result_types[2].value" ng-options="option.value as option.name for option in result_types">
                    </select>

                    <p class="parameters_title" ng-show="show_advanced_search"># of tweets</p>
                    <select class="selection" ng-model="parameters.count" ng-init="parameters.count = count_options[99]" ng-options="o for o in count_options">
                    </select>
                </div>

                <span class="show_hide_search" ng-show="show_advanced_search" ng-click="toggle_advanced_search()">Hide Advanced Search</span>


                <input id="query_submit" type="submit" ng-click="query(parameters)" value="Search"/>

            </form>
        </div>

        <div class="download">
            <button id="download" type="button" ng-click="showNgDialog()">Download</button>

            <button id="visualize" type="button" ng-click="visualize()">{{ visualize_copy }}</button>
        </div>

    </div>
</div>

<div class="right_column">

    <div class="container" ng-hide="show_visualize || show_loading" masonry='{ "transitionDuration" : "0.1s" , "itemSelector" : ".tweet", "gutter" : 25}'>
        <div masonry-tile ng-repeat="tweet in tweets" class="tweet">
            <img ng-src="{{ tweet.user.profile_image_url_https }}" class="profile_image">
            <span class="profile_name">{{ tweet.user.name }}</span><br>
            <span class="profile_screen_name">@{{ tweet.user.screen_name }}</span>
            <p class="profile_tweet">{{ tweet.text }}</p>

                <span ng-if="tweet.entities.media">
                    <a ng-href="{{ tweet.entities.media[0].display_url }}" target="_blank">
                        <img class="profile_media" style="max-width:100%;" ng-src="{{ tweet.entities.media[0].media_url }}">
                    </a>
                </span>

                <span ng-if="tweet.retweeted_status">
                    <span class="retweet_count">{{ tweet.retweeted_status.retweet_count }}</span>
                    <span class="favorite_count">{{ tweet.retweeted_status.favorite_count }}</span>
                </span>

                <span ng-if="tweet.retweeted_status == null">
                    <span class="retweet_count">{{ tweet.retweet_count }}</span>
                    <span class="favorite_count">{{ tweet.favorite_count }}</span>
                </span>
        </div>
    </div>

    <button id="load_more" ng-hide="show_loading || show_visualize || !have_searched" ng-click="load_more()">{{ load_more_copy }}</button>

    <div class="container" ng-show="show_visualize">
        <h1>Visualize</h1>
        <h3>Word Cloud</h3>
        <div id="cloud" style="border:1px dashed gray; width: 800px; height: 300px;"></div>
        <br />
        <button type="button" ng-click="buildCloud()">Generate Word Cloud</button>
        <button type="button" ng-click="downloadCloud()">Download Word Cloud</button>
    </div>
    <div class="container" ng-show="show_loading">
        <img class="loading_gif" src="styles/images/ajax-loader.gif">
    </div>
</div>