<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="twitterTool" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="twitterTool" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="twitterTool" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="twitterTool" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Flock - Twitter Search</title>
  <meta name="description" content="A tool to search, filter and download tweets.">

  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <link rel="stylesheet" type="text/css" href="styles/normalize.css">
  
</head>
<body ng-controller="MainController">

	<div class="page_wrap">
		<div class="left_column">

			<div class="search_wrap">

				<div class="search">
					<img src="styles/images/logo.png" class="logo">

					<form novalidate class="parameters">

					  <input type="text" ng-model="parameters.q" value="" placeholder="Search @user, #hashtag or Keyword"/>
					  <input type="submit" ng-click="query(parameters)" value="Search"/>
					</form>
				</div>

				<div class="download">
					<button id="visualize" type="button" ng-click="download()">Download</button>

					<button id="download" type="button" ng-click="visualize()">Visualize</button>
				</div>

			</div>
		</div>

		<div class="right_column">

			<div id="container" masonry="true">
				<div ng-repeat="tweet in tweets" class="tweet">
					<img ng-src="{{ tweet.user.profile_image_url_https }}">
					<span>{{ tweet.user.name }}</span>
					<span>@{{ tweet.user.screen_name }}</span>
					<p>{{ tweet.text }}</p>

					<span ng-if="tweet.entities.media">
						<img style="max-width:100%;" ng-src="{{ tweet.entities.media[0].media_url }}">
					</span>
				</div>
			</div>

		</div>

	</div>

  

	<script type="text/javascript" src="plugins/codebird.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
 	<script src="app.js"></script>
 	<script src="plugins/masonry.pkgd.min.js"></script>

 	<script>
 	/*
 	$('#container').masonry({
	  gutter: 20,
	  itemSelector: '.tweet',
	});
	*/
 	</script>

</body>
</html>