body{
    margin:0px;
    font-family: Helvetica;
}
#main, #sidebar {  
    float: none;  
    padding: 20px;  
    vertical-align: top;  
}  
#container {  
    height: 100vh;
    width: 100%;
    display: table;  
}
#sidebar {  
    width: 200px;  
    display: table-cell;  
    background-color: #2d3335;
    text-align:center;
    color: #3b97ae;
}
#search input{
    height: 20px;
    text-align: center;
    /* css 3 */
    border-radius:10px;
    /* mozilla */
    -moz-border-radius:10px;
    /* webkit */
    -webkit-border-radius:10px;
}
#main {
    background-color:#3b97ae;
    display: table-cell;  
}
#preview {
    position: relative;
    margin: 10px;
    width: inherit;
    height: 90vh;
    background-color: white;
}
#footer {
    color: #3b97ae;
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    padding: 10px;
    background-color: #2d3335;
    box-sizing: border-box;
    font-size: 8px;
}
#filters{
    font-size: 10px;
}
#filters table{
    margin-left:auto; 
    margin-right:auto;
    text-align: left;
}
#filters input{
    width: 50px;
    height: 10px;
    /* css 3 */
    border-radius:5px;
    /* mozilla */
    -moz-border-radius:5px;
    /* webkit */
    -webkit-border-radius:5px;
}