/*
    @author:  Zach Bachiri
    @created: Jan 26, 2015
    @group:   #11
    @purpose: Styling for Flock view
*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #4c4c4c;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.page_wrap {
  height: 100%; }

.page_wrap:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.left_column {
  margin: 0;
  padding: 0;
  width: 30%;
  height: 100%;
  float: left;
  overflow: scroll; }
  .left_column .search_wrap {
    position: relative;
    min-height: 100%; }
    .left_column .search_wrap .search {
      padding: 25px 50px 202px 50px; }
      .left_column .search_wrap .search .logo {
        width: 175px;
        margin-bottom: 25px; }
      .left_column .search_wrap .search .parameters {
        margin-top: 15px;
        margin-bottom: 50px; }
        .left_column .search_wrap .search .parameters .text_box {
          width: 100%;
          padding-left: 15px;
          height: 40px;
          border-radius: 8px;
          margin-bottom: 15px;
          border: solid 2px #f0f0f0; }
        .left_column .search_wrap .search .parameters #query_submit {
          border: none;
          background-color: #55acee;
          background-image: url("images/twitter_icon.png");
          background-position: 40px 10px;
          background-size: 25px;
          background-repeat: no-repeat;
          color: white;
          padding: 10px 50px 10px 75px;
          font-size: 1.2em;
          margin-top: 20px;
          border-radius: 3px; }
        .left_column .search_wrap .search .parameters .parameters_title {
          font-size: 1.1em;
          margin-bottom: 5px;
          margin-top: 15px; }
        .left_column .search_wrap .search .parameters .show_hide_search {
          font-size: .9em;
          display: block;
          cursor: pointer;
          color: #55acee; }
        .left_column .search_wrap .search .parameters .show_hide_search:hover {
          color: #3E7EAE; }
      .left_column .search_wrap .search .selection {
        margin-bottom: 30px;
        display: block;
        width: 40%;
        height: 35px;
        background: -webkit-linear-gradient(white, #f7f7f7);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(white, #f7f7f7);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(white, #f7f7f7);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(white, #f7f7f7);
        border: solid 2px #f0f0f0;
        border-radius: 3px; }
    .left_column .search_wrap .download {
      padding: 35px 0 35px 0;
      background-color: #55acee;
      position: absolute;
      bottom: 0;
      width: 100%; }
      .left_column .search_wrap .download button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        padding-top: 13px;
        padding-bottom: 10px;
        min-width: 250px;
        color: #55acee;
        border: none;
        border-radius: 3px;
        background-color: white;
        font-size: 1.7em; }
      .left_column .search_wrap .download button:hover {
        background-color: #f0f0f0; }
      .left_column .search_wrap .download button:last-child {
        margin-bottom: 0; }

.right_column {
  margin: 0;
  width: 70%;
  height: 100%;
  float: left;
  background-color: #f0f0f0;
  overflow: scroll; }
  .right_column .container {
    width: 95%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto; }
    .right_column .container .tweet {
      border-radius: 1px;
      background-color: white;
      width: 42%;
      padding: 3%;
      margin-bottom: 25px;
      box-shadow: 1px 1px 3px #E0E0E0;
      font-size: .95em;
      line-height: 1.35; }
      .right_column .container .tweet a {
        color: #4c4c4c; }
      .right_column .container .tweet .profile_image {
        float: left;
        border-radius: 6px; }
      .right_column .container .tweet .profile_name {
        display: inline-block;
        font-weight: bold;
        padding-left: 15px; }
      .right_column .container .tweet .profile_name:hover {
        color: #0084b4;
        text-decoration: underline; }
      .right_column .container .tweet .profile_screen_name {
        display: inline-block;
        color: #8899a6;
        padding-left: 15px;
        margin-top: 2px; }
      .right_column .container .tweet .profile_tweet {
        clear: both;
        margin-top: 25px;
        margin-bottom: 5px; }
      .right_column .container .tweet .profile_media {
        max-width: 100%;
        margin-bottom: 5px; }
      .right_column .container .tweet .favorite_count, .right_column .container .tweet .retweet_count {
        color: #707070;
        font-size: .7em;
        margin-right: 10px;
        float: left; }
      .right_column .container .tweet .view_tweet {
        text-align: right;
        text-decoration: none;
        color: #55acee;
        float: right;
        font-size: .9em; }
      .right_column .container .tweet .view_tweet:hover {
        color: #0084b4; }
      .right_column .container .tweet .count {
        font-size: 1.2em; }
      .right_column .container .tweet .retweets_favorites {
        border-top: 1px solid #e8e8e8;
        padding-top: 10px; }
    .right_column .container .loading_gif {
      width: 250px;
      height: 250px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      padding-top: 10px;
      padding-bottom: 10px; }
  .right_column #load_more {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 250px;
    color: white;
    border: none;
    border-radius: 3px;
    background-color: #55acee;
    font-size: 1.5em;
    margin-bottom: 25px; }

.login_wrap {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center; }
  .login_wrap .logo {
    width: 33%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    margin-bottom: 50px; }
  .login_wrap button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px 50px 10px 50px;
    min-width: 250px;
    color: white;
    border: none;
    border-radius: 3px;
    background-color: #55acee;
    font-size: 1.2em; }
  .login_wrap #twitter_login {
    background-image: url("images/twitter_icon.png");
    background-position: 40px 10px;
    background-size: 25px;
    background-repeat: no-repeat;
    padding: 10px 50px 10px 75px; }
  .login_wrap span {
    color: #d0d0d0; }
  .login_wrap a {
    color: #55acee;
    text-decoration: none; }
